.main {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;

    .courses-section {
        width: 80%;
        height: 100%;
        padding: 20px;
        overflow: scroll;
    }
}